In [1]:
#Lists- ordered ,changeable, allow duplicates
numbers = [1, 2, 3, 4]
numbers.append(5)

In [2]:
#Tuples- ordered, unchangeable
t = (1, 2, 3)

In [3]:
#Dictionaries- Key-value pairs
student = {"name": "Shravani", "age": 21}
print(student["name"])

Shravani

In [4]:
#Sets- unordered, no duplicates
s = {1, 2, 3, 3}
print(s)   # {1,2,3}

{1, 2, 3}

In [5]:
#Functions- Reusable block of codes
def greet(name):
    return "Hello " + name

In [6]:
#Lambda functions- short, one line anonymous function
square = lambda x: x * x
print(square(4))

16

In [7]:
#Recursion- function calling itself
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

In [8]:
#List Comprehension- Short way to create lists.
squares = [x*x for x in range(5)]

## Basic Programs

### 1.Sum of squares

In [9]:
nums = [1, 2, 3, 4]
result = sum([x*x for x in nums])
print(result)

30

### 2.Filtering even numbers

In [10]:
nums = [1,2,3,4,5,6]
evens = list(filter(lambda x: x % 2 == 0, nums))
print(evens)

[2, 4, 6]

### 3.Function of data transformation

In [11]:
def double_values(lst):
    return [x*2 for x in lst]

print(double_values([1,2,3]))

[2, 4, 6]